/* General layout */
.tracker-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Form Section */
.form-section {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.expense-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-submit-button {
  padding: 10px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-submit-button:hover {
  background-color: #0056b3;
}

/* Table Section */
.table-section {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.expense-table {
  width: 100%;
  border-collapse: collapse;
}

.expense-table th,
.expense-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.expense-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.description-column {
  width: 15%;
}

.expense-table tr:hover {
  background-color: #f9f9f9;
}

/* Action buttons */
.edit-button {
  background-color: #078fff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #078fff;
}

.delete-button {
  background-color: #078fff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #078fff;
}

/* Table Section */
.table-section {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Ensure responsiveness on smaller screens */
}

.expense-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Uniform column width adjustment */
}

.expense-table th,
.expense-table td {
  padding: 15px; /* Increased padding */
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word; /* Allow text wrapping */
}

.expense-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}



.expense-table tr:hover {
  background-color: #f9f9f9;
}
